Source: odroid-dtoverlays
Section: misc
Priority: standard
Maintainer: Dongjin Kim <tobetter@gmail.com>
Uploaders: Dongjin Kim <tobetter@gmail.com>
Build-Depends: debhelper
Vcs-Browser: https://github.com/tobetter/dtoverlays
Vcs-Git: https://github.com/tobetter/dtoverlays.git

Package: odroid-dtoverlays
Architecture: any
Depends: device-tree-compiler, gcc
Description: set of device tree overlay files
  'odroid-dtoverlays' is a set of device tree overlays for ODROID
